body {
    padding-top: 5rem;
    width: 750px;
    margin: 0 auto;
}
* {
    /* background-color: blue; */
    font-size: 20px;
}
p {
    margin: 10px;
    text-align: center;
    
    
}

.about{
    margin-top: 30px;
    /* margin: 30px,20px,110px,20px; */
    margin-bottom: 70px;
    margin-right: 25px;
    margin-left: 25px;
}
.p2 p{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.bold {
    font-weight: bold;
}
h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 48px;
}


main {
    /* width: 850px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fisrt{
    background: rgb(205,232,236);
background: radial-gradient(circle, rgba(205,232,236,1) 12%, rgba(185,235,234,1) 42%, rgba(117,247,226,1) 81%, rgba(68,255,221,1) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0px; */
}


.btn{
    background-color: #0cd8df;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 50px;
    margin-bottom: 30px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    
}


.profile img {
    width: 280px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

.tracking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;

}